<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue design</title>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<a href="http://hcysun.me/vue-design/zh/renderer-patch.html#%E8%A2%AB%E5%8A%A8%E6%9B%B4%E6%96%B0">博客地址</a>

<div id="app"></div>
</body>
</html>